<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<config key="all_columns">
<config key="0">
<entry key="old_column_name" type="xstring" value="Store Number"/>
<entry key="new_column_name" type="xstring" value="Store_Number"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="1">
<entry key="old_column_name" type="xstring" value="Vendor Number"/>
<entry key="new_column_name" type="xstring" value="Vendor_Number"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
<config key="2">
<entry key="old_column_name" type="xstring" value="Item Number"/>
<entry key="new_column_name" type="xstring" value="Item_Number"/>
<entry key="new_column_type" type="xint" value="0"/>
</config>
</config>
</config>
<config key="nodeAnnotation">
<entry key="text" type="xstring" value="Rename Columns%%00013%%00010%%00013%%00010'Store Number' -&gt; 'Store_Number' , 'Vendor Number' -&gt; 'Vendor_Number'%%00013%%00010'Item Number' -&gt; 'Item_Number'%%00013%%00010%%00013%%00010"/>
<entry key="bgcolor" type="xint" value="16777215"/>
<entry key="x-coordinate" type="xint" value="1300"/>
<entry key="y-coordinate" type="xint" value="379"/>
<entry key="width" type="xint" value="401"/>
<entry key="height" type="xint" value="90"/>
<entry key="alignment" type="xstring" value="CENTER"/>
<entry key="borderSize" type="xint" value="0"/>
<entry key="borderColor" type="xint" value="16777215"/>
<entry key="defFontSize" type="xint" value="9"/>
<entry key="annotation-version" type="xint" value="20151123"/>
<config key="styles">
<config key="style_0">
<entry key="start" type="xint" value="0"/>
<entry key="length" type="xint" value="18"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="2"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_1">
<entry key="start" type="xint" value="18"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_2">
<entry key="start" type="xint" value="19"/>
<entry key="length" type="xint" value="12"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_3">
<entry key="start" type="xint" value="31"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_4">
<entry key="start" type="xint" value="32"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_5">
<entry key="start" type="xint" value="33"/>
<entry key="length" type="xint" value="2"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_6">
<entry key="start" type="xint" value="35"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_7">
<entry key="start" type="xint" value="36"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_8">
<entry key="start" type="xint" value="37"/>
<entry key="length" type="xint" value="12"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_9">
<entry key="start" type="xint" value="49"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_10">
<entry key="start" type="xint" value="50"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_11">
<entry key="start" type="xint" value="51"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_12">
<entry key="start" type="xint" value="52"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_13">
<entry key="start" type="xint" value="53"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_14">
<entry key="start" type="xint" value="54"/>
<entry key="length" type="xint" value="13"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_15">
<entry key="start" type="xint" value="67"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_16">
<entry key="start" type="xint" value="68"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_17">
<entry key="start" type="xint" value="69"/>
<entry key="length" type="xint" value="2"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_18">
<entry key="start" type="xint" value="71"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_19">
<entry key="start" type="xint" value="72"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_20">
<entry key="start" type="xint" value="73"/>
<entry key="length" type="xint" value="13"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_21">
<entry key="start" type="xint" value="86"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_22">
<entry key="start" type="xint" value="87"/>
<entry key="length" type="xint" value="2"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_23">
<entry key="start" type="xint" value="89"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_24">
<entry key="start" type="xint" value="90"/>
<entry key="length" type="xint" value="11"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_25">
<entry key="start" type="xint" value="101"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_26">
<entry key="start" type="xint" value="102"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_27">
<entry key="start" type="xint" value="103"/>
<entry key="length" type="xint" value="2"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_28">
<entry key="start" type="xint" value="105"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_29">
<entry key="start" type="xint" value="106"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_30">
<entry key="start" type="xint" value="107"/>
<entry key="length" type="xint" value="11"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="1"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
<config key="style_31">
<entry key="start" type="xint" value="118"/>
<entry key="length" type="xint" value="1"/>
<entry key="fontname" type="xstring" value="Arial"/>
<entry key="fontstyle" type="xint" value="0"/>
<entry key="fontsize" type="xint" value="9"/>
<entry key="fgcolor" type="xint" value="0"/>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.base.node.preproc.rename.RenameNodeFactory"/>
<entry key="node-name" type="xstring" value="Column Rename"/>
<entry key="node-bundle-name" type="xstring" value="KNIME Base Nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.2.v202009241438"/>
<entry key="node-feature-name" type="xstring" value="KNIME Base nodes"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.2.2.v202009241438"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="Column Rename"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
<entry key="port_object_summary" type="xstring" value="Rows: 11944, Cols: 24"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="c4abbdc4-3331-467e-b7e6-2e633b9fd455"/>
</config>
</config>
